@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g709ci');
  src:  url('fonts/icomoon.eot?g709ci#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g709ci') format('truetype'),
    url('fonts/icomoon.woff?g709ci') format('woff'),
    url('fonts/icomoon.svg?g709ci#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e911";
}
.icon-heart2:before {
  content: "\e900";
}
.icon-flash:before {
  content: "\e912";
}
.icon-location-arrow:before {
  content: "\e904";
}
.icon-code:before {
  content: "\e903";
}
.icon-phone2:before {
  content: "\e905";
}
.icon-location-arrow-outline:before {
  content: "\e906";
}
.icon-download-outline:before {
  content: "\e907";
}
.icon-pencil:before {
  content: "\e908";
}
.icon-pen:before {
  content: "\e90a";
}
.icon-code-outline:before {
  content: "\e915";
}
.icon-device-phone:before {
  content: "\e90f";
}
.icon-device-desktop:before {
  content: "\e910";
}
.icon-lightbulb:before {
  content: "\e913";
}
.icon-messages:before {
  content: "\e914";
}
.icon-keyboard_arrow_up:before {
  content: "\e90d";
}
.icon-keyboard_arrow_down:before {
  content: "\e90e";
}
.icon-th-menu:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e909";
}
.icon-paperplane:before {
  content: "\e90b";
}
.icon-world:before {
  content: "\e90c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-behance2:before {
  content: "\eaa9";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-html-five2:before {
  content: "\eae5";
}
.icon-css3:before {
  content: "\eae6";
}

